fastapi==0.133.0
uvicorn==0.41.0
sqlalchemy==2.0.46
asyncpg==0.31.0
psycopg[binary]==3.3.3
pydantic==2.12.5
python-dotenv==1.2.1
python-multipart==0.0.22
pyjwt==2.11.0
httpx==0.28.1
sse-starlette==3.3.2
python-docx==1.2.0
python-pptx==1.0.2
openai==2.23.0
snowflake-id==1.0.2
alibabacloud_bailian20231229==2.9.1
aliyun-log-python-sdk==0.9.46
openpyxl==3.1.5
matplotlib==3.10.9
wordcloud==1.9.6
numpy==2.4.6
markitdown[pdf,docx,pptx]==0.1.6
jieba==0.42.1
