ENV=prod
DATABASE_URL=
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
ALIBABA_CLOUD_ACCESS_KEY_ID=
ALIBABA_CLOUD_ACCESS_KEY_SECRET=
DASHSCOPE_API_KEY=
IMAGE_SIGN_SECRET=
VLLM_BASE_URL=http://127.0.0.1:30938/v1
VLLM_API_KEY=
VLLM_MODEL=qwen3.8-27b
